<div id="nav">
  <ul>
    <li>
      <a id="nav-home" href="index.html">Home</a>
    </li>
    <li>
      <a id="nav-news" href="news.html">In the News</a>
    </li>
        <!--
    <li>
      Products
      <ul>
        <li>
          <a id="nav-cakes" href="about.html">Specialty Cakes</a>
        </li>
        <li>
          <a id="nav-cupcakes" href="about.html">Cupcakes</a>
        </li>
        <li>
          <a href="about.html">Specials</a>
        </li>
      </ul>
    </li>
        -->
    <li>
      <a id="nav-testimonials" href="testimonials.html">Testimonials</a>
    </li>
      <!--
    <li>
      <a href="catering.html">Catering</a>
      Catering
      <ul>
        <li>
          <a href="about.html">In the Office</a>
        </li>
        <li>
          <a href="about.html">Events/Parties</a>
        </li>
      </ul>
    </li>
      -->
    <!--
    <li>
      <a href="about.html">Classes</a>
    </li>
    -->
    <li>
      <a id="nav-about" href="about.html">About Us</a>
    </li>
    <li>
      <a id="nav-prices" href="PlanetBonnie-Cakes.pdf">Prices (pdf)</a>
    </li>
    <li>
    <a id="nav-order" href="order.html">Order Now</a>
    <!--
    <a id="nav-order" href="index.html" onMouseOver="toggleVisible('overlay',1)" 
      onMouseOut="toggleVisible('overlay',0)">Place an Order</a>
    -->
    </li>
  </ul>
</div>

<script language="JavaScript">
  <!--
  function toggleVisible(id,flagit) {
    if (flagit=="1"){
      if (document.layers) document.layers[''+id+''].visibility = "show"
      else if (document.all) document.all[''+id+''].style.visibility = "visible"
      else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "visible"
    }
    else
    if (flagit=="0"){
      if (document.layers) document.layers[''+id+''].visibility = "hide"
      else if (document.all) document.all[''+id+''].style.visibility = "hidden"
      else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "hidden"
    }
  }
  //-->
</script>
