<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Planet Bonnie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="stylesheets/node.css?m" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/defaults.css?m" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/system.css?m" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/system-menus.css?m" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/user.css?m" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/style.css?m" />
        <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/mmm3/fix-ie.css" />    <![endif]-->
  </head>
  <body>

    <div id="header-region" class="clear-block"></div>

    <div id="wrapper">
      <div id="container" class="clear-block">

        <div id="header">
          <div id="logo-floater">

                                  </div>

                      <ul class="links primary-links"><li class="menu-131 active-trail first active"><a href="/" title="" class="active">Home</a></li>
<li class="menu-127"><a href="/news.html" title="In The News">News</a></li>
<li class="menu-114"><a href="/testimonials.html" title="Testimonials">Testimonials</a></li>
<li class="menu-132"><a href="/about.html" title="About Us">About</a></li>
<li class="menu-129"><a href="/prices.html" title="Prices">Prices</a></li>
<li class="menu-130 last"><a href="/order.html" title="Order Now">Order</a></li>
</ul>          
        </div> <!-- /header -->


        {{ content }}

        <div id="footer">©2007-2009 Planet Bonnie, LLC.  All rights reserved.  | <a href="/homepage/privacy">Privacy Policy</a> | <a href="sitemap">Site Map</a></div>


                          
      </div> <!-- /container -->
    </div> <!-- /wrapper -->

      </body>
</html>
